name: Ejecutar backend

on:
  push:
  workflow_dispatch:

jobs:
  run-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Instalar dependencias (si existe requirements.txt)
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          else
            echo "No hay requirements.txt, salto la instalación"
          fi

      - name: Ejecutar script
        run: python test_backend.py
